#email, #password {
  width: 85%;
  margin-left: 80px;
}

body {
  background-color: #282c34;
}

form{
  margin: 15px 0px 15px 0px;
  padding: 15px;
}

#roster {
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}


.createEvent {
  margin-top: 2rem;;
  color: #d3d3d3;
}

.playerName {
  margin-top: -15px;
  margin-bottom: 10px;
}

.numberPlayers {
  margin-top: -15px;
  margin-bottom: 10px;
}

.eventDate {
  margin-top: -15px;
  margin-bottom: 10px;
}

.eventType {
  margin-bottom: 15px;
}

.eventTime {
  margin-top: -15px;
  margin-bottom: 10px;
}

.event {
  margin-top: 5rem;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.eventCard {
  width: 75%;
  padding: 10px;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.achievementImg {
  height: 65px;
  width: 65px;
  top: 5px;
  right: 5px;
  border-radius: 3px;
  box-shadow: 2px 2px 2px 2px #888;
  position: absolute;
  
}

.achievementText {
  margin-top: 10px;
  margin-left: 10px;
  width: 75%
}

.achievementName {
  margin-left: 10px;
  margin-top: 10px;
}

.earnedBy {
  margin-bottom: 1px;
  margin-left: 5px;
  font-size: smaller;
}

.homeNewsHeader {
  color: #f3f3f3;
  margin-top: 1em;
}

.homeContent {
  background-color: #d3d3d3;
  margin-top: 3em;
  margin-bottom: 3em;
  position: relative;
}

.playerLink {
  color: #008080
}

.login_button {
  color: #fff;
}

.logo {
  height: 55%;
  width: 55%;
  margin: -475px 0px -550px 0px;
}

.memberList{
  color: #f3f3f3;
}

.navLogo{
  margin-left: 65px;
  padding-right: 5px;
}

.navbar-brand {
  left: -50px;
}
.navCrest {
  height: 3%;
  width: 3%;
  margin: -5px -60px -5px -10px;
}

.formControl {
  width: 90%;
  margin-left: 55px;
}

.crest {
  margin-top: 50px;
}

.container {
  margin-top: 100px;
}

.card {
  box-shadow: 0px 0px 10px #888;
  background-color: #f3f3f3;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
